
fastapi==0.115.11
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
matplotlib==3.10.1
numpy==2.1.1
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.0.0
python-multipart==0.0.20
requests==2.32.3
scipy==1.15.2
seaborn==0.13.2
setuptools==70.2.0
ultralytics==8.3.94
uvicorn==0.34.0
